@{
ViewBag.Title = "Анкета";
}
@model BlogDatabase.Forms

@helper CreateRadioCheck(string[] result, string[] items)
{
bool flag = (ViewBag.secretNames as string[]).Contains(result[0]);
<div class="container" >
    <p class="text-capitalize">
        @Html.Raw((flag)?"Ваше секретное имя":"Ваше оружие")</p><br />
        @Html.Raw((flag) ? "<ul class=\"list-group\">" : "<ol class=\"list-group\">")

        @for (int i = 0; i < result.Length; i++)
        {
            for (int j = 0; j < items.Length; j++)
            {
                if (result[i] == items[j])
                {
                    <li class=" list-group-item">
                        @Html.Raw((flag) ?$"<b>{items[j]}</b> :Ваш выбор":
                       $"{i+1+"."}<img src=\"/Content/Pictures/_{j+1}.svg\"" +
                       $" alt = \"Picture_{j+1}\" class=\"ml-5\" width=\"50\" height=\"50\"/>")

                    </li>
                }
                else
                {
                    @Html.Raw((flag) ? $"<li class=\"list-group-item\">{items[j]}</li>" : "")
                }
            }

        }
        @Html.Raw((flag) ? "</ul>" : "</ol>")
     </div>
}


<div class="row">
    <div class="container d-flex justify-content-center" style="width:80%">
        @if (Model == null)
        {
            using (Html.BeginForm("Form", "Home", FormMethod.Post))
            {
                <label class="form-check-label">Имя</label><br />
                <input type="text" name="firstName" placeholder="firstName" required /> <br />
                <label class="form-check-label">Фамилия</label><br />
                <input type="text" name="secondName" placeholder="secondName" required /><br />
                <label class="form-check-label">Додзъе (Город)</label><br />
                <input type="text" name="city" placeholder="City" required /><br />

                <label class="form-check-label">Секретное имя</label><br />

                for (int i = 0; i < ViewBag.secretNames.Length; i++)
                {
                    <input type="radio" class="form-check-input mt-3" name="secretName"
                           id="secretNames_@i" value="@ViewBag.secretNames[i]" required>
                    <label class="form-check-label mt-3"><span class="ml-5">@ViewBag.secretNames[i]</span></label><br />
                }
                <label class="form-check-label my-5">Выбери оружие</label><br />
                for (int i = 1; i <= 3; i++)
                {
                    <label class="form-check-label mt-5">
                        <img src="~/Content/Pictures/_@(i).svg"
                             alt="Picture_@(i+1)" class="ml-5" width="50" height="50" />
                    </label>
                    <input type="checkbox" class="form-check-input" name="weapon" id="weapon_@i" value="_@i">

                }
                <br />
                <button type="submit" class="btn btn-primary mt-5">Submit</button>
            }

        }

        else
        {
            <div class="container text-center mr-5">
                <h2>Результаты:</h2>
                <p><span>Имя: @Model.FirstName</span></p><br />
                <p><span>Фамилия: @Model.SecondName</span></p><br />
                <p><span>Родной город: @Model.City</span></p><br />

                    @CreateRadioCheck(Model.SecretName, ViewBag.secretNames)<br />
                    @CreateRadioCheck(Model.Weapons, ViewBag.pictures)

            </div>
        }
    </div>
    <div style="width:20%">@Html.Partial("Menu")</div>
</div>

